#map {
  height: 100vh;
}
.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}

.info-description {
  font-size: 18px;
}
.filterLabel {
  display: none;
}
.foursqaureAttribution {
  font-size: 14px;
}
.redText {
  color: #7b030e;
  font-weight: 700;
}
